:root {
  --primary-color: #0000a3;
  --secondary-color: #f0f0f0;
  --line-color: #e8ebec;
  --button-hover: #3e8e41;
  --footer-color: #6351ce;
}

.card-border,
.card,
.card-body {
  border: none;
  background-color: none;
}

.button:hover {
  background-color: var(--button-hover);
}

.footer {
  background-color: var(--primary-color);
  color: white;
}

footer {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  color: yellow;
}

.email {
  color: var(--primary-color);
}

.display-3,
.display-4,
.display-5,
.display-6,
.fs-2,
.fs-3,
.email {
  font-family: poppins-regular;
}

p,
.card-text {
  font-family: roboto-regular;
}

.about-section {
  margin-top: 100px;
}

.margin-bottom {
  margin-bottom: 100px;
}

.margin-bottom-sm {
  margin-bottom: 50px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);

  padding: 8px 14px;
  border-radius: 50%;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--footer-color);
}
